{% extends 'base.html'%}
{% block content%}

<div class="container-fluid">
    <div class="row">
        {% if messages%}
        <div class="row">
            <div class="col-4"></div>
                <div class="col-4">
                {% for msg in messages%}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{msg}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                {%endfor%}
                </div>
            <div class="col-4"></div>
         </div>
        {% endif%}
        <div class="col-2"></div>
        <div class="col-8">
                <div class="container-fluid   mb-5">            
                    <div class="container">
                        <div class="row  text-dark">
                        <div class="col-md-3 border-right">
                            
                            {% if profile.profile_pic%}
                            <div class="d-flex flex-column align-items-center text-center  mt-4">
                                <img class="rounded-circle " width="150px" src="{{profile.profile_pic.url}}">
                            </div>
                            {% else %}
                            <div class="d-flex flex-column align-items-center text-center  mt-4">
                                <img class="rounded-circle " width="150px" src="https://cdn.vectorstock.com/i/preview-1x/77/30/default-avatar-profile-icon-grey-photo-placeholder-vector-17317730.jpg">
                            </div>
                            {% endif%}
                        </div>
                        <div class="col-md-5 border-right">
                            
                            <div class="p-3 py-5">
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <h4>{{profile.user.username}}</h4>
                                        
                                    </div>
                                    <div class="col">
                                    
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="{% url 'update-profile'%}"><button class="btn text-dark fw-bold" style="background-color:rgb(244, 234, 234) ;">Update Profile</button></a></div>
                                        
                                    </div>
                                    
                                <div class="row">
                                    
                                    <div class="col-4">
                                        <h6>{{post_count}} Posts</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6>{{following}} Following</h6>
                                    </div>
                                    <div class="col-4">
                                        <h6 style="margin: 0px;">{{followers}} Followers</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                    <h5>{{profile.user.first_name}} {{profile.user.last_name}}</h5>
                                    <p>{{profile.bio}}</p>
                                    </div>
                                </div>
                        
                                <div class="d-flex justify-content-between align-items-center mb-3">
                            </div>
                            
                            
                                <!-- <div class="row mt-1">
                                    <div class="col-4  ">
                                    <h5>Name</h5>
                                    <h5>Bio</h5>
                                    <h5>Phone No:</h5>
                                    {% if request.user != profile.user%}
                                        {% if msg == True %}
                                        <form action="" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary form-control">UnFollow</button>
                                        </form> 
                                        {% else %} 
                                        <form action="" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary form-control">Follow</button>
                                        </form> 
                                         {% endif %}
                                    {% endif%}
                                     
                                    </div>
                                    <div class="col-8 ">
                                    <h5>: {{profile.user.username |capfirst}}</h5>
                                    <h5>: {{profile.bio |capfirst}}</h5>
                                    <h5>: {{profile.phone_no}}</h5>
                                    
                                    </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3">Posts</div>
                    {% if posts%}
                        <div class="row">
                            {% for post in posts%}
                            
                            <div class="col-3">
                                <div class="card mt-3">
                                    <div class="card-body">
                                    </div>
                                    <a href="{% url 'post-detail' post.id%}">
                                    <img src="{{post.post.url}}" class="card-img-bottom" alt="..." style="height: 170px;">
                                    </a>
                                    <div class="row">                                        
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        </div>
                    {% else%}
                    <div class="text-center">
                        <i class="fa-solid fa-5x mt-5 mb-4 fa-camera"></i>
                        <h2>Share Photos</h2>
                        <p>When you share photos, they will appear on your profile.</p>
                        <a href="{% url 'create-post'%}" style="color:rgb(53, 125, 225) ; text-decoration: none;">Share your photo</a>
                    </div>
                    {% endif %}

                    
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    </body>
    </html>
        </div>
        <div class="col "></div>
    </div>
</div>
{% endblock%}


