{% extends 'base.html'%}
{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <a onclick="history.back()">
            <i class="fa-solid fa-arrow-left fa-2x m-2 text-dark"></i>
            </a>  
        </div>
        <div class="col-3 ">
          
          <h2 class="fw-bold mb-5">Search</h2>
          <nav class="navbar bg-body-tertiary mb-3">
            <div class="container-fluid">
              <form class="d-flex" role="search" method="get" action="{% url 'search-user'%}">
                
                <input class="form-control me-2" name="users" type="search" placeholder="Search" aria-label="Search" style="width:400px ;">
              </form>
            </div>
          </nav>
          {% for user in users%}
          <div class="card mb-3"> 
            <div class="card-body">
              <div class="row">
                <div class="co" style="width:55px ;">
                  
                  <img src="{{user.profile_pic.url}}" alt="Avatar" style="border-radius: 80%;height: 40px;">
                </div>
                <div class="col">
                  <a href="{% url 'other-user' user.user.id %}" style="text-decoration: none;">
                    <h5 class="card-title text-dark mt-2">{{user}}</h5>
                  </a>
                </div>
              </div>
              
            </div>
          </div>
          {% endfor %}

        </div>
    </div>
</div>
{% endblock%}