{% extends 'base.html'%}
{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" name="post" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            <h1>Search Page</h1>
        </div>
        <div class="col "></div>
    </div>
</div>
{% endblock%}